@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>

    <pre>
         Essa aplicacao web usa o banco de dados LocalDB e padrao MVC - .NET Framework 4.5 
         As informacoes do banco de dados e as consultas sao munipuladas com a abstracao da Entity Framework
         Link do <a href=""> repositorio git </a> de Desenvolvimento
         Grato pela grande oportunidade de aprendizado!
</pre>
   

</p>
