@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Praça General Tibucio<br />
    <abbr title="Phone">(21) 98181-0110</abbr>
    CEP: 22290-270<br />
</address>
