@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="align-center"> <img src="~/Content/spotify-icon-26.png" width="110 height="110" /> MVC Musical Challenge</h1>
    <p> Biblioteca de CD/DVD/Livro! Alem de adicionar e excluir itens, você pode procura-los por cada campo 
     ou ordenalos de acordo com suas varias categorias! Confira:
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Whatever tag!</h2>
        <h4>Search Context</h4> 
        <p>
            Procure seus itens de acordo com cada campo: Categoria (Livro, CD, DVD), Descricao(Rock,Suspense,..), Autoria ou pelos proprios Titulos:
         </p>
        <h4>Aproveite a oportunidade para editar ou remover algum item</h4>
                
        <p>@Html.ActionLink("Search Context", "Contextual", "Media")</p>
    </div>
    <div class="col-md-4">
        <h2>Small Google </h2>
        <h4>Search Name</h4> 
        <p> Procure seus itens por partes do nomes nos campos: Categoria(Livro, CD, DVD), Descricao(Rock,Suspense,..), Autoria, ID , Titulo ou ainda ano!
          </p>
        <h4>Aproveite a oportunidade para editar ou remover algum item</h4>
        <p>@Html.ActionLink("Search Name", "Nominal", "Media")</p>
    </div>
    <div class="col-md-4">
        <h2>Add Whatever!</h2>
        <h4>Create Item</h4> 
        <p>Voce pode facilmente adicionar novos titulos e obra para a colecao:</p>
        <p>@Html.ActionLink("Create Item", "Create", "Media")</p>
    </div>
</div>